/* This file gets loaded last, so add or override any bootstrap CSS settings here.*/

body{
    background-attachment: fixed;
}

.input-xxxlarge {
    width: 730px;
}

#results td {
    color:#1E347B;
    cursor: pointer;
}

#results td:hover{
    color:#D14;
}

.popover-inner {
    width: 340px;
}
.modal {
    width: 900px;
}

.chart rect{
    stroke: #555555;
    fill: #5bb75b;
}
.tooltip{
    margin-top: 10px;
    margin-left: 2px;
}

td.fieldval{
    white-space: nowrap;
}