/* This file gets loaded last, so add or override any bootstrap CSS settings here.*/

body{
    background-attachment: fixed;
}

.input-xxxlarge {
    width: 730px;
}

#results td {
    color:#1E347B;
    cursor: pointer;
}

#results td:hover{
    color:#D14;
}

.popover-inner {
    width: 340px;
}
.modal {
    width: 900px;
}

.chart rect{
    stroke: #555555;
    fill: #5bb75b;
}
.tooltip{
    margin-top: 10px;
    margin-left: 2px;
}

tr, td, table{
    white-space: nowrap;
    padding: 0;
    border-collapse:collapse;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}