{% load dajaxice_templatetags %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/site-customizations.css" %}">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/site.js" %}"></script>
    {% dajaxice_js_import %}
    <title>Brownian - {% block title %}{% endblock %}</title>
</head>
<body background="{% static "img/gradient.png" %}">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">
                Brownian
            </a>
            <ul class="nav">
                {% url query as url_query %}
                <li{% if request.path == url_query %} class="active"{%endif%}><a href={{ url_query }}>Query</a></li>
                <!-- TODO: Create alerts page -->
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% block container %}
    {% endblock %}
</div>
</body>
</html>