{% load es_extras %}
{% load humanize %}
{% if error %}
<div class="alert span4">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong> {{ error }}
</div>
{% endif %}
<div class="modal hide" id="testmodal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4>Details</h4>
    </div>
    <div class="modal-body well" id="exportRowModal">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<table class="table table-condensed table-striped">
    <thead><th></th>
    {% for attr, type, desc in table.header %}
        <th><a rel="popover" data-trigger='hover' data-content="{{ desc }}" href="#">{{ attr }}</a><br/>
        {% if type == "time" or type == "port" or type == "transport_proto" or type == "count"%}
            <a
            {% if sort.field == attr %}
            {% if sort.order == "asc" %}
                style="background-color: #A9DBA9;"
            {% endif %}
            {% endif %}
            href="#" onclick="replaceSort('#{{ openTab }}_tab', '{{ attr }}', 'asc');">
                <i class="icon-chevron-up"></i></a>
            <a
                    {% if sort.field == attr %}
                        {% if sort.order == "desc" %}
                            style="background-color: #A9DBA9;"
                        {% endif %}
                    {% endif %}
                            href="#" onclick="replaceSort('#{{ openTab }}_tab', '{{ attr }}', 'desc');">
                <i class="icon-chevron-down"></i></a>
        {% else %}
        &nbsp;
        {% endif %}
            </th>
    {% endfor %}
    </thead>
    <tbody>{% for row in table.content %}<tr>
        <td style="cursor: default;"><span class="label" style="background-color: #A9DBA9;"><a data-toggle="testmodal" href="#" onclick="$('#exportRowModal').html(exportRow({{ forloop.counter0 }}));$('#testmodal').modal();"><i class="icon-file icon-white"></i></a></span></td>
        {% for key, type, val in row %}
                <td class="fieldval">
                    <ul class="nav nav-pills" style="margin-bottom: 0"><li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" style="padding:0;margin:1px;" title="{% if type == "time" and key == "ts" %} {{ val|dateToDatetimeWithoutYear }}{% elif type == "time" %}{{ val|dateToDatetimeWithYear }}{% elif type == "count" %}{{ val|intcomma }}{% else %}{{ val|hexEncode }}{% endif %}">
                            {% if type == "time" and key == "ts" %} {{ val|dateToDatetimeWithoutYear }}{% elif type == "time" %}{{ val|dateToDatetimeWithYear }}{% elif type == "count" %}{{ val|intcomma }}{% else %}{{ val|hexEncode|truncatechars:75 }}{% endif %}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu"><li><a href="#" onclick="appendToQuery('{{ key }}:&quot;{{ val }}&quot;');">Include</a></li>
                            {% if type == "addr" and val %}<li><a href="#" onclick="appendToQuery(ipanywhere(&quot;{{ val }}&quot;));">Include in any IP field</a></li>{% endif %}
                            {% if type == "time" and val %}<li><a href="#" onclick="appendToQuery('{{ key }}:{{ val|tsRange:"500" }}');">Timestamp &plusmn; 500ms</a></li>{% endif %}
                            <li><a href="#" onclick="appendToQuery('{{ key }}:&quot;{{ val }}&quot;', true);">Exclude</a></li>
                            {% for pluginType, plugins in plugin_mapping.items %}
                                {% if pluginType == type %}
                                    {% for plugin in plugins %}
                                        <li><a href="#" onclick="runPlugin('{{ plugin.displayName }}', '{{ val }}');">{{ plugin.displayName }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul></li></ul></td>
            {% endfor %}</tr>{% endfor %}</tbody></table>

{% paginate start total openTab query indices sort.field sort.order %}
<script>
    $('a[rel="popover"]').popover({placement:'bottom'});
    Dajaxice.Brownian.view.updateIndices(jQuery.noop);
</script>
<p><small>{{ took }}ms.</small></p>