{% load es_extras %}
{% if error %}
<div class="alert span4">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong> {{ error }}
</div>
{% endif %}
<table class="table table-condensed table-striped">
    <thead>
    {% for attr, type, desc in table.header %}
        <th><a rel="popover" data-content="{{ desc }}" data-original-title="{{ attr }}" href="#">{{ attr }}</a><br/>
        {% if type == "time" or type == "port" or type == "transport_proto" or type == "count"%}
            <a
            {% if sort.field == attr %}
            {% if sort.order == "ASC" %}
                style="background-color: #fceb96;"
            {% endif %}
            {% endif %}
            href="#" onclick="replaceSort('#{{ openTab }}_tab', '{{ attr }}', 'ASC');">
                <i class="icon-chevron-up"></i></a>
            <a
                    {% if sort.field == attr %}
                        {% if sort.order == "DESC" %}
                            style="background-color: #fceb96;"
                        {% endif %}
                    {% endif %}
                            href="#" onclick="replaceSort('#{{ openTab }}_tab', '{{ attr }}', 'DESC');">
                <i class="icon-chevron-down"></i></a>
        {% else %}
        &nbsp;
        {% endif %}
            </th>
    {% endfor %}
    </thead>
    <tbody>{% for row in table.content %}<tr>{% for key, type, val in row %}
                <td class="fieldval">
                    <ul class="nav nav-pills" style="margin-bottom: 0"><li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" style="padding:0;margin:1px;">
                            {% if type == "time" and key == "ts" %} {{ val|dateToDatetimeWithoutYear }}{% elif type == "time" %}{{ val|dateToDatetimeWithYear }}{% else %}{{ val }}{% endif %}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu"><li><a href="#" onclick="appendToQuery('{{ key }}:&quot;{{ val }}&quot;');">Include</a></li>
                            {% if type == "addr" and val %}<li><a href="#" onclick="appendToQuery(ipanywhere(&quot;{{ val }}&quot;));">Include in any IP field</a></li>{% endif %}
                            {% if type == "time" and val %}<li><a href="#" onclick="appendToQuery('{{ key }}:{{ val|tsRange:"500" }}');">Timestamp &plusmn; 500ms</a></li>{% endif %}
                            <li><a href="#" onclick="appendToQuery('{{ key }}:&quot;{{ val }}&quot;', true);">Exclude</a></li></ul></li></ul></td>
            {% endfor %}</tr>{% endfor %}</tbody></table>

{% paginate start total openTab query indices sort.field sort.order %}
<script>
    //$('.popover_links').popover({placement:'bottom'});
    Dajaxice.Brownian.view.updateIndices(jQuery.noop);
</script>
<p><small>{{ took }}ms.</small></p>