<!DOCTYPE html>
<html lang="en">
<head>
   {% if debug %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
   {% else %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
   {% endif %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/site-customizations.css') }}">
   <title>Brownian - {% block title %}{% endblock %}</title>
   {% block head_postscript %}{% endblock %}
</head>
<body background="{{ url_for('static', filename='img/gradient.png') }}">
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url_for('home')}}">Brownian</a>
            <ul class="nav">
                <li {% if request.path == url_for('query') %} class="active"{%endif%}><a href="{{ url_for('query')}}">Query</a></li>
                <li {% if request.path == url_for('notices') %} class="active"{%endif%}><a href="{{ url_for('notices')}}">Notices</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="btn{% if health._status == "green" %} btn-success{% elif health._status == "yellow" %} btn-warning{% else %} btn-danger{% endif %}" style="padding-left:8px;padding-right:8px;">
                    <a href="{{ url_for('health')}}" style="padding:0">
                        {%  if request.path == url_for('health') %}
                            <i class="icon-heart icon-white"></i>
                        {% else %}
                            <i class="icon-heart"></i>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% if errors %}
    {% for error in errors %}
        <div style="text-align: center; margin: -20px 30% 0">
            <div style="display: inline-block; padding-top: 0; padding-bottom: 0" class="alert alert-error span6">{{ error }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    {% block contents %}
    {% endblock %}
</div>
{% if debug %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% else %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
{% block scripts_postscript %}{% endblock %}
</body>
</html>