{% extends "include/head.html" %}
{% load humanize %}
{% block title %}Home{% endblock %}
{% block container %}
    <div class="well span10" id="histogram">
    </div>
    <!--TODO: Some usage instructions-->
    <script src="/static/js/d3.v2.min.js"></script>
    <script src="/static/js/graphs.js"></script>
    {% autoescape off %}
    <script>
        //createHistogram({{ indices }}, "histogram", "Logs per index");
        //$('rect[rel=tooltip_top]').tooltip({placement: "top"});
    </script>
    {% endautoescape %}
{% endblock %}