{% extends "include/head.html" %}
{% load humanize %}
{% block title %}Query{% endblock %}
{% block container %}
    {% load staticfiles %}
    <div class="well container-fluid" xmlns="http://www.w3.org/1999/html">
    <form id="queryform" class="form-search form-horizontal" action="">
      <label for="timeinput"></label><select name="time" id="timeinput" class="span2">
        <option value="15m" {% if time == "15m" %} selected="selected" {% endif %}>Last 15m</option>
        <option value="1h" {% if time == "1h" %} selected="selected" {% endif %}>Last 1h</option>
        <option value="4h" {% if time == "4h" %} selected="selected" {% endif %}>Last 4h</option>
        <option value="12h" {% if time == "12h" %} selected="selected" {% endif %}>Last 12h</option>
        <option value="1d" {% if time == "1d" %} selected="selected" {% endif %}>Last 1d</option>
        <option value="2d" {% if time == "2d" %} selected="selected" {% endif %}>Last 2d</option>
        <option value="7d" {% if time == "7d" %} selected="selected" {% endif %}>Last 7d</option>
        <option value="all" {% if time == "all" %} selected="selected" {% endif %}>All Time</option>
        <!-- TODO <option value="custom">Custom</option> -->
      </select>
      <label for="querytext"></label><input type="text" class="input-xxxlarge" placeholder="Query" name="query" id="querytext" value="{{ query }}">
        <a data-toggle="syntaxmodal" href="#" onclick="$('#syntaxmodal').modal();" ><i class="icon-question-sign"></i></a>
      <button class="btn btn-primary" type="submit" onclick='$("#opentab").val($("li.tab.active").children().attr("href"))'>Search</button>
      <button class="btn btn-warning" type="button" onclick='$("#querytext").val($("#origQuery").val());$("#opentab").val($("li.tab.active").children().attr("href"))'>Revert</button>
      <button class="btn btn-danger" type="button" onclick='$("#querytext").val("");$("#opentab").val($("li.tab.active").children().attr("href"))'>Clear</button>
      <input type="hidden" name="openTab" id="opentab" value="">
      <input type="hidden" name="originalQuery" id="origQuery" value="{{ query }}">
    </form>
    </div>
    {% if error %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> {{ error }}
        </div>
    {% else %}
  <div class="well tabbable tabs-left">
    <ul id="resultTabs" class="nav nav-tabs">
      {% for hit in hits %}
        <li style="padding:3px" class="tab{% if hit.type == openTab %} active{% endif %}">
          <a href="#{{ hit.type }}" data-toggle="tab" id="{{ hit.type }}_tab" onclick="replaceContents('<img class=&quot;loader&quot; src=&quot;{% static "img/ajax-loader.gif" %}&quot;>');Dajaxice.Brownian.view.getData(replaceContents, {'type': '{{ hit.type }}', 'query': '{{ query }}', 'indices': '{{ indices }}', 'sort': '{&quot;ts&quot;: {&quot;order&quot: &quot;asc&quot;}}'});"><span style="float:left">{{ hit.type }}</span>&nbsp;<span style="float: right" class="badge">{{ hit.total|intcomma }}</span>
          <br/></a>
        </li>
      {% endfor %}
    </ul>
    <div id="results" class="tab-content" style="padding-bottom:100px">
        <img class="loader" src="{% static "img/ajax-loader.gif" %}">
    </div>
  </div>
    <div class="modal hide" id="syntaxmodal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4>Syntax Cheatsheet</h4>
        </div>
        <div class="modal-body">
                <table class="table table-condensed table-bordered">
                    <tr><td><pre>(host:"google.com" OR host:"yahoo.com") AND id.resp_p:80</pre></td><td>Matches google.com or yahoo.com on port 80</td></tr>
                    <tr><td><pre>host:"ns?.*.cn"</pre></td><td>Matches ns1.mail.cn, ns2.mail.cn, but not ns01.mail.cn</td></tr>
                    <tr><td><pre>subject:"viagra~"</pre></td><td>Fuzzy search: vi4gra, viagr4, etc.</td></tr>
                    <tr><td><pre>subject:"buy viagra"~5</pre></td><td>Distance search: buy and viagra, no more than 5 words away.</td></tr>
                    <tr><td><pre>ts:[1340666078821 TO *] AND from:[alice@cmu.edu TO bob@cmu.edu]</pre></td><td>Search from a given timestamp to now, <br/>where the from address is alphabetically between alice and bob.</td></tr>
                </table>
        </div>
        <div class="modal-footer">
                <a href="http://lucene.apache.org/core/3_6_0/queryparsersyntax.html">More info</a>
        </div>
    </div>
    <script>
        var applicationPath = "{{ root }}";
        function replaceContents(data){
            $('#results').html(data);
        }
        Dajaxice.Brownian.view.getData(replaceContents, {'type': '{{ openTab }}', 'query': '{{ query }}', 'indices': '{{ indices }}', 'sort': '{"ts": {"order": "asc"}}'});
    </script>
    {% endif %}
{% endblock %}